.Home {
    display: flex;
    flex-wrap: wrap;

    padding-top: 50px;
    flex-grow: 1;
    width: 100%;
    height: 100vh;
    background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%);

    flex-direction: column;
    align-items: center;
}

/*ближайший ребенок*/
.Home > div {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.Home h1 {
    color: #fff;
    text-align: center;
}

.TestForm {
    background: #eee;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    padding: 15px;
    border-radius: 10px;
    display: block;
    margin: 30px;
}

.list {
    flex-direction: column;
    align-items: center;
    width: 50%;
}
